@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body,p,html{
  margin: 0;
  padding: 0;
}
.content{
  background-image: url('../public/png/bg.png');
  width: 100vw;
  height: 100vh; 
  padding: 10px 46px;
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}
.title_imgs{
  height: 110px;
  width: 326px;
  display: flex;
  align-items: center;
}
/* 弹框的样式 */
.title_icon{
  display: flex;
  align-items: center;
  position: relative;
}
.title_icon>div{
  margin-left: 10px;
  position: absolute;
  display: flex;
  align-items: center;
}
.title_icon>div>img{
  height: 21px;
  width: 21px;
  margin-right: 8px;
}
.par_body{
  background: rgba(14,51,92,0.4);
  border: 1px solid rgba(120,240,253,0.7);
  border-top: 0;
}
p{
  margin: 0;
}
.par1{
  font-size: 12px;
  border-bottom: 1px solid #3B5372;
  padding: 5px;
}
.par1>p{
  color: #78F0FD;
}
.status_par{
  display: flex;
  flex-wrap: wrap;
}
.status_par>div{
  margin-right: 10px;
  height: 22px;
  line-height: 22px;

}
.runs{
  display: flex;
  align-items: center;
}
.runs>p{
  width: 8px;
  height: 8px;
  background: #16EAC5;
  border-radius: 8px;
  margin-right: 2px;
}
/* 页面宽度的布局 */
.con1,.con2,.con3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: f;
}

.btns{
  background: rgba(0,174,255,0.26);
  padding: 2px 4px;
  margin-right: 6px;
  border-radius: 2px;
}
.par_texts{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 弹窗颜色 */
:where(.css-dev-only-do-not-override-byeoj0).ant-tooltip .ant-tooltip-inner{
  background: rgba(14,51,92,1) !important;
}
:where(.css-dev-only-do-not-override-byeoj0).ant-tooltip .ant-tooltip-arrow:before{
  background: rgba(14,51,92,1) !important;

}